body {
  background-color: #000;
  padding: 0;
  margin: 0;
  color: white;
  font-family:'Lato',"SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flex-row {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.App {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  outline: none;
  text-decoration: none;
}